@using TestTask.Model;
@model UserM

@{
    ViewData["Title"] = "Add User";
}
@section link{


    }

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content ">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Add User</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    @*asp-action="Create"*@
                    @*enctype="multipart/form-data"*@
                    <form>
                        <div class="row">
                            <div class="col-md-6">

                                <div class="card-body">
                                    <div class="form-group">
                                        <label asp-for="FullName" class="control-label"></label>

                                        <input asp-for="FullName"
                                               type="text"
                                               class="form-control"
                                               placeholder="Full Name">

                                        <div id="vFullName" class="invalid-feedback"></div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Email ID</label>

                                                <input id="EmailId"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Email ID">

                                                <div id="vEmailId" class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Mobile</label>

                                                <input id="MobileNo"
                                                       type="tel"
                                                       class="form-control"
                                                       placeholder="Mobile">

                                                <div id="vMobileNo" class="invalid-feedback"></div>

                                            </div>
                                        </div>
                                    </div>
                                    @*-------------*@
                                    @*
                                    @for (int i = 0; i < Model.userContacts.Count; i++)
                                    {

                                    <div class="row">
                                    <div class="col-md-6">
                                    <div class="form-group">
                                    <label class="control-label">Email ID</label>

                                    <input asp-for="@Model.userContacts[i].EmailID"
                                    type="text"
                                    class="form-control"
                                    placeholder="Email ID">

                                    <div id="vEmailId" class="invalid-feedback"></div>
                                    </div>
                                    </div>
                                    <div class="col-md-6">
                                    <div class="form-group">
                                    <label class="control-label">Mobile</label>

                                    <input asp-for="@Model.userContacts[i].Mobile"
                                    type="text"
                                    class="form-control"
                                    placeholder="Mobile">

                                    <div id="vMobile" class="invalid-feedback"></div>
                                    </div>


                                    </div>

                                    </div>
                                    }
                                    *@
                                    <div class="form-group">
                                        <a href="#" class="control-label ">Add another contact</a>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label"></label>

                                        <input asp-for="Password"
                                               type="password"
                                               class="form-control"
                                               placeholder="Password">

                                        <div id="vPassword" class="invalid-feedback"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Confirm Password</label>

                                        <input id="ConfirmPassword"
                                               type="password"
                                               class="form-control"
                                               placeholder="Confirm Password">

                                        <div id="vConfirmPassword" class="invalid-feedback"></div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Gender</label>

                                        <div class="form-check">

                                            <input type="radio" id="Unknown" name="Gender" class="form-check-input" value="0" checked />
                                            <label for="Unknown" class="form-check-label">Unknown</label>


                                        </div>
                                        <div class="form-check">

                                            <input type="radio" id="Male" name="Gender" class="form-check-input" value="1" />
                                            <label for="Male" class="form-check-label">Male</label>
                                        </div>
                                        <div class="form-check">

                                            <input type="radio" id="Female" name="Gender" class="form-check-input" value="2" />
                                            <label for="Female" class="form-check-label">Female</label>
                                        </div>

                                    </div>

                                    <div class="form-group">
                                        <label asp-for="Photo" class="control-label"></label>

                                        <input asp-for="iPhotoFile" accept="image/*" class="form-control" />

                                        <div id="viPhotoFile" class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <!-- /.card-body -->

                            </div>
                            <div class="col-md-6">

                                <div class="card-body">

                                    <div class="form-group">

                                        <img id="propic" class="photo img-fluid" style="width:100%;" src="@Url.Content("~/be/dist/img/default.jpg")" />
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-footer">
                                    <button id="btnSave"
                                            type="button"
                                            class="btn btn-primary">
                                        <span class="tf-icons fas fa-save"></span>&nbsp; Save
                                    </button>
                                    <button type="reset" class="btn btn-default">
                                        <span class="tf-icons fas fa-times"></span>&nbsp; Cancel
                                    </button>

                                    <button class="btn btn-outline-info pull-right" asp-action="Index">
                                        <span class="tf-icons fas fa-list-ul"></span>&nbsp; View List
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

@section Scripts{


    <script type="text/javascript">

        $(document).ready(function () {

            //Preview & Update an image before it is uploaded
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#propic').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#iPhotoFile").change(function () {
                readURL(this);
            })



            //Validation when save button click
            $("#btnSave").click(function () {



                //Hide all error
                hidecustomvalidation('#FullName', '#vFullName');
                hidecustomvalidation('#Password', '#vPassword');
                hidecustomvalidation('#ConfirmPassword', '#vConfirmPassword');
                hidecustomvalidation('#MobileNo', '#vMobileNo');
                hidecustomvalidation('#EmailId', '#vEmailId');
                hidecustomvalidation('#iPhotoFile', '#viPhotoFile');


                var fullname = $('#FullName').val();
                var password = $('#Password').val();
                var confirm_password = $('#ConfirmPassword').val();
                var phone_number = $('#MobileNo').val();
                var email_id = $('#EmailId').val();

                var validate = true;

                //Fullname validation
                if (fullname == "") {
                    customvalidation('#FullName', '#vFullName', "Please fill out this field.");
                    validate = false;
                }

                //Email validation
                function ValidateEmail(email) {
                    var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
                    if (!expr.test(email)) {
                        return false;
                    }
                    else {
                        return true;
                    }
                }

                if (email_id == "") {
                    customvalidation('#EmailId', '#vEmailId', "Please fill out this field.");
                    validate = false;
                }
                else if (ValidateEmail(email_id) == false) {
                    customvalidation('#EmailId', '#vEmailId', "Not a valid email.");
                    validate = false;
                }



                //Mobile no validation
                var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;

                if (filter.test(phone_number)) {
                    if (phone_number.length == 10) {
                        validate = true;
                    } else {
                        customvalidation('#MobileNo', '#vMobileNo', "Please put 10  digit mobile number");
                        validate = false;
                    }
                }
                else {
                    customvalidation('#MobileNo', '#vMobileNo', "Not a valid number");
                    validate = false;
                }

                //Password validation
                //var regularExpression = /^(?=.*\d)(?=.*[!@@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/;
                var regularExpression = @Html.Raw("/^(?=.*[!@#$%^&*]).{8,}$/");


                if (password == "") {
                    customvalidation('#Password', '#vPassword', "Please fill out this field.");
                    validate = false;
                }
                else if (password.length < 8) {
                    customvalidation('#Password', '#vPassword', "Please enter at least 8 digit password!");
                    validate = false;
                }
                else if (!regularExpression.test(password)) {
                    customvalidation('#Password', '#vPassword', "Password should contain atleast one special character!");
                    validate = false;
                }

                //Confirm password validation
                if (confirm_password == "") {
                    customvalidation('#ConfirmPassword', '#vConfirmPassword', "Please fill out this field.");
                    validate = false;
                }
                else if (password != confirm_password) {
                    customvalidation('#ConfirmPassword', '#vConfirmPassword', "Password is not matching");
                    validate = false;
                }


                //Photo validation
                var file_input = $('#iPhotoFile')[0];
                var file = file_input.files[0];
                if (file == null) {
                    customvalidation('#iPhotoFile', '#viPhotoFile', "Please select the picture");
                    validate = false;
                }

                //Check validate
                if (validate) {

                    SaveUser();
                }
            });

            //Save to DB
            function SaveUser() {

                //property values
                var fullname = $('#FullName').val();
                var password = $('#Password').val();
                var confirm_password = $('#ConfirmPassword').val()
                var phone_number = $('#MobileNo').val();
                var email_id = $('#EmailId').val();

                var file_input = $('#iPhotoFile')[0];
                var file = file_input.files[0];

                //var userConData = {

                //    EmailID: email_id,
                //    Mobile: phone_number,
                //};

                //var userConlist = {
                //    UserContactM = JSON.stringify({ 'UserContactM': userConData });
                //};



                var formData = new FormData();
                formData.append("FullName", fullname);
                formData.append("Password", password);
                formData.append("iPhotoFile", file);
                formData.append("EmailId", email_id);
                formData.append("MobileNo", phone_number);

                $.ajax({
                    async: false,
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    datatype: "application/json",
                    data: formData,
                    url: '/User/CreateUser',
                    success: function (data) {
                        if (data.outpt > 0) {
                            //alert("Success : " + data.outpt);

                            var formUserContactData = new FormData();
                            formUserContactData.append("EmailId", email_id);
                            formUserContactData.append("Mobile", phone_number);

                            //Add User Contact
                            $.ajax({
                                async: false,
                                type: 'POST',
                                contentType: false,
                                processData: false,
                                datatype: "application/json",
                                data: formUserContactData,
                                url: '/User/CreateUserContact',
                                success: function (data) {
                                    if (data.res > 0) {
                                        //alert("Success : " + data.res);

                                    }
                                }
                                ,
                                error: function (jqXHR, textStatus, errorThrown) {
                                    alert("There is a problem." + errorThrown);
                                }
                            });

                            cleartext();
                            swal("Successfully Saved!", "Your user recored has added!", "success");
                        }
                    }
                    ,
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert("There is a problem." + errorThrown);
                    }
                });
            }
            function cleartext() {
                $('#FullName').val("");
                $('#Password').val("");
                $('#ConfirmPassword').val("")
                $('#MobileNo').val("");
                $('#EmailId').val("");
                $('#iPhotoFile').val("");
                $('#propic').attr("src", "@Url.Content("~/be/dist/img/default.jpg")");
            }

            //Show custom validation for text box
            function customvalidation(txtid, lblid, msg) {

                $(txtid).css({ 'border-color': 'red', 'border-width': '1px' });
                $(lblid).css('display', 'inline-block');
                $(lblid).text(msg);
                return
            }
            //Hide custom validation for text box
            function hidecustomvalidation(txtid, lblid) {

                $(txtid).css({ 'border-color': 'black', 'border-width': '1px' });
                $(lblid).css('display', 'none');
                return
            }


            //Success message

        })
    </script>
}

