@using TestTask.Model;
@model UserM

@{
    ViewData["Title"] = "Add User";
}
@section link{
    <link href="~/css/file_upload.css" rel="stylesheet" />

    }

<style>
    .error {
        color: red;
    }

</style>
@if (TempData["userid"] != null)
{

    <script type="text/javascript">
        window.onload = function () {
            swal("Good job!", 'User record has successfully saved!', "success");
        };
    </script>


}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1></h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active">Add</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content ">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Add User</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form asp-action="Create" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="card-body">
                                    <div class="form-group">
                                        <label asp-for="FullName" class="control-label"></label>

                                        <input asp-for="FullName"
                                               type="text"
                                               class="form-control"
                                               placeholder="Full Name">

                                        <span asp-validation-for="FullName" class="error"></span>
                                    </div>

                                    @for (int i = 0; i < Model.userContacts?.Count; i++)
                                    {

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Email ID</label>

                                                    <input asp-for="@Model.userContacts[i].EmailID"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Email ID">

                                                    <span asp-validation-for="@Model.userContacts[i].EmailID" class="error"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="control-label">Mobile</label>

                                                    <input asp-for="@Model.userContacts[i].Mobile"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Mobile">

                                                    <span asp-validation-for="@Model.userContacts[i].Mobile" class="error"></span>
                                                </div>


                                            </div>

                                        </div>
                                    }

                                    <div class="form-group">
                                        <a href="#" class="control-label ">Add another contact</a>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Password" class="control-label"></label>

                                        <input asp-for="Password"
                                               type="password"
                                               class="form-control"
                                               placeholder="Password">

                                        <span asp-validation-for="Password" class="error"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Confirm Password</label>

                                        <input asp-for="ConfirmPassword"
                                               type="password"
                                               class="form-control"
                                               placeholder="Confirm Password">

                                        <span asp-validation-for="ConfirmPassword" class="error"></span>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label">Gender</label>

                                        <div class="form-check">

                                            <input asp-for="Gender" type="radio" id="Unknown" name="Gender" class="form-check-input" value="0" checked />
                                            <label for="Unknown" class="form-check-label">Unknown</label>


                                        </div>
                                        <div class="form-check">

                                            <input asp-for="Gender" type="radio" id="Male" name="Gender" class="form-check-input" value="1" />
                                            <label for="Male" class="form-check-label">Male</label>
                                        </div>
                                        <div class="form-check">

                                            <input asp-for="Gender" type="radio" id="Female" name="Gender" class="form-check-input" value="2" />
                                            <label for="Female" class="form-check-label">Female</label>
                                            <span asp-validation-for="Gender" class="error"></span>
                                        </div>

                                    </div>

                                </div>
                                <!-- /.card-body -->

                            </div>
                            <div class="col-md-6">

                                <div class="card-body">

                                    <div class="form-group">
                                        <label asp-for="Photo" class="control-label"></label>

                                        <div class="drop-zone">
                                            <span class="drop-zone__prompt">Drop photo here or click to upload</span>
                                            @*<input type="file" asp-for="iPhotoFile" name="myFile" accept="image/*" class="drop-zone__input">*@
                                            <input type="file" asp-for="iPhotoFile" accept="image/*" value="@Model.iPhotoFile" class="drop-zone__input">


                                        </div>
                                        <span asp-validation-for="iPhotoFile" class="error"></span>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card-footer">
                                    <button id="btnSave"
                                            type="submit"
                                            class="btn btn-primary">
                                        <span class="tf-icons fas fa-save"></span>&nbsp; Save
                                    </button>
                                    <button type="reset" class="btn btn-default">
                                        <span class="tf-icons fas fa-times"></span>&nbsp; Cancel
                                    </button>

                                    <button class="btn btn-outline-info pull-right" asp-action="Index">
                                        <span class="tf-icons fas fa-list-ul"></span>&nbsp; View List
                                    </button>
                                </div>
                            </div>

                        </div>
                    </form>

                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/file_upload.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>

    <script type="text/javascript">

    </script>

}

