@using TestTask.Model;
@addTagHelper *, LazZiya.TagHelpers
@model PagedResult<UserM>



@{
    ViewData["Title"] = "User Report";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <a asp-action="Create" class="btn btn-secondary">
                    <span class="tf-icons fas fa-plus"></span>&nbsp; Add User
                </a>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">User</a></li>
                    <li class="breadcrumb-item active">Report</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">


                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">Existing User Report</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table cellpadding="0" cellspacing="0" class="table table-bordered table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Password</th>
                                    <th>Gender</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var usr in Model.Results)
                                {
                                    <tr>
                                        <td>@usr.FullName</td>
                                        <td>@usr.Password</td>
                                        <td>
                                            @switch (@usr.Gender)
                                            {
                                                case 0:
                                                    <p>Unknown</p>
                                                    ;
                                                    break;
                                                case 1:
                                                    <p>Male</p>
                                                    ;
                                                    break;
                                                case 2:
                                                    <p>Female</p>
                                                    ;
                                                    break;

                                                default:
                                                    <p>Not given</p>
                                                    break;
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="Edit" class="btn btn-warning btn-xs" asp-route-id="@usr.UserId"><i class="fas fa-edit me-1"></i> Edit</a>
                                            <button type="button" class="btn btn-danger btn-xs" onclick="DeleteUser('@usr.UserId')">
                                                <i class="fas fa-trash me-1"></i> Delete
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<paging page-no="@Model.CurrentPage"
        page-size="@Model.PageSize"
        total-records="@(Model.RowCount)">
</paging>


@section Scripts{
    <script type="text/javascript">

        //load index page
        function load() {
            window.location.href = '/User/Index';
        };

        //Delete User
        function DeleteUser(user_id) {
            //alert(user_id);

            swal({
                title: "Are you sure?",
                text: "Are you sure that you want to delete this User?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {

                        //Delete method
                        var formUser = new FormData();
                        formUser.append("UserId", user_id);

                        $.ajax({
                            url: "/User/Delete/",
                            data: formUser,
                            async: false,
                            contentType: false,
                            processData: false,
                            datatype: "application/json",
                            type: 'DELETE',
                            success: function (data) {
                                if (data.changes > 0) {
                                    //Message
                                    swal("Poof! Your user recored has been deleted!", {
                                        icon: "success",
                                        button: "Ok",
                                    }).then((value) => {
                                        load();
                                    });
                                }
                                else {
                                    swal("Error!", "Something went wrong!", "error");
                                }
                            }
                        })

                    } else {
                        swal("Info!", "User record is safe!", "info");
                    }
                });

        };
    </script>
}